body {
   font-family: poppins;
   background-color: white
}

.container {
    display: grid;
    grid-template-columns: 15vw repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 98vw;
}

.picture {
    max-width: 100%;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


.banner {
    grid-area: 1 / 2 / span 1 / -1;
}

.one {
    grid-area: 2 / 2 / span 2 / span 2;
    width: 400px;
    height: 400px;
}

.two {
    grid-area: 2 / 5 / span 2 / span 2;
    width: 400px;
    height: 400px;
}

.three {
    grid-area: 2 / 4 / span 2 / span 1;
    width: 200px;
    height: 200px;
    align-self: center;
}

.fill {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('./resources/images/new-orleans.jpg');
}

.fill2 {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('./resources/images/streetcar-on-canal-street.jpg');
}

.fill3 {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('./resources/images/dome.jpg');
}

.fill4 {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('./resources/images/seal.jpg');
}

.logo {
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.text h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    text-align: left;
    font-size: 60px;
    margin-left: 5vw;
    color: #fff;
    text-shadow: 0 5px 10px #000;
}

.sidebar {
    height: 100%;
    width: 15vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(104, 23, 23);
    overflow: hidden;
    padding-top: 0px;
    text-align: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sidebar img {
    max-width: 95%;
    border: 4px solid rgb(104, 23, 23);
}

.sidebar a{
    padding: 50px 10px 10px 50px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: #fff;
}

.sidebar a:hover {
    color: gold;
    text-shadow: 0 5px 10px #000;
    transform: scale(1.03);
    transition: all 0.3s ease-in-out;
}

/* .main {
    margin-left: 230px;
    padding: 0 10px;
} */

#about{
    background: darkkhaki;
}

#services{
    background: darkorchid;
}

#portfolio{
    background: darksalmon;
}

#contact{
    background: dodgerblue;
}