/* text stuff */
html {
    font-size: 16px;
}
body{
    margin: 0;
}
.textStyle{
    color: white;
    text-shadow: 0 0.3125rem 0.625rem #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.large{
    font-size: 3.75rem;
}

.medium{
    font-size: 1.57rem;
    text-decoration: none !important;
}

.marginBottom{
    margin-bottom: 3rem;
}

.marginTop{
    margin-top: 16rem;
}

.image{
    margin-top: 1rem;;
    width: 50%;
    object-fit: cover;
    border-radius: 1rem;
}

/* Generic stuff */
.center{
   text-align: center;
   margin-left: -10vw;
}

#wholePageContainer{
    width: 100vw;
    height: 100vh;
    /* justify-content: center; */
}


.logo {
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.flex-container{
    display: flex;
    flex: 1;
}


.grid{
    justify-self: center;
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

#contact-header{
    grid-area: 1 / 4 / span 2 /span 6;
}

#pic{
    grid-area: 4 / 2 / span 7/ span 10;
    width: 100%;
}

#email{
    grid-area: 12 / 2 /span 2 / span 10;
}

#phone{
    grid-area: 15 / 2 / span 3 / span 10;
}

#copyright{
    grid-area: 20 / 2 / span 1 / span 10;
}

.column{
    flex-direction: column;
}

body {
   font-family: poppins;
   background-color: rgb(230, 212, 56)
}



/* Sidebar */
.sidebar {
    justify-content: flex-start;
    align-items: center;
    width: 15vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    background-color: rgb(114, 18, 22);
    overflow: hidden;
    padding-top: 0px;
    text-align: left;
}

.sidebar img {
    max-width: 96%;
    border: 4px solid rgb(114, 18, 22);
    /* border-radius: 100%; */
}

.sidebar a{
    text-decoration: none;
    font-size: 1.325rem;
    text-transform: uppercase;
    color: #fff;
}

.sidebar a:hover {
    color: rgb(230, 212, 56);
    text-shadow: 0 0.3125rem 0.625rem #000;
    transform: scale(1.03);
    transition: all 0.2 s ease-out;
}

#sidebar-links{
    justify-content: space-evenly;
    align-items: center;
    /* border-top: 2px solid white; */
    width: 100%;
    height: 60%;
}



/* Home Section */
#home-section{
    margin-left: 15vw;
    width: 85vw;
}

#home-images {
    width: 85vw;
    grid-area: 4/ 1/ span 7/ span 12;
    align-items: center;
}

.section-banner{
    width: 100%;
    /* height: 125rem; */
    /* overflow: hidden; */
    background-size: cover;
    background-position: center;
    background-image: url('./resources/images/new-orleans.jpg');
    border-top: 0.3125rem solid rgb(114, 18, 22);
    border-bottom: 0.3125rem solid rgb(114, 18, 22);
}

.text{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    /* text-align: left; */
    /* margin-left: 3vw; */
    color: #fff;
    text-shadow: 0 0.3125rem 0.625rem #000;
    /* letter-spacing: 0.15rem; */
    text-decoration: underline;
    text-decoration-color: rgb(230, 212, 56)
}


/* About Section */
#home-section{
    margin-left: 15vw;
    width: 85vw;
}

#about-images {
    width: 85vw;
    align-items: center;
}

.width75{
    /* text-align: center; */
    width: 75%;
}

.pElement > p {
    text-align: center;
}

#hone{
    grid-area: 1 / 6 / span 5 / span 4;
}

#ceo{
    grid-area: 5 / 2 / span 5 / span 4;
    justify-self: center;
}

#market{
    grid-area: 5 / 8 / span 5 / span 4;
    justify-self: center;
}

#research{
    grid-area: 16 / 2 / span 5 / span 4;
    justify-self: center;
}

#cfo{
    grid-area: 16 / 8 / span 5 / span 4;
    justify-self: center;
}




.teammate {
    justify-content: center;
}

.teammate > h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    color: white;
    text-shadow: 0 0.3125rem 0.625rem #000;
    z-index: 7;
    margin: 0;
}

.teammate > img {
    width: 100%;
    /* margin: 0; */
}

.teammate > p {
    /* margin-top: -5vh; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    text-shadow: 0 0.3125rem 0.625rem #000;
    z-index: 7;
    margin: 0;
    margin-bottom: 3rem;
}

#contact-images{
    margin-left: 5rem;
}

#pic {
    margin: 0;
}

@media screen and (max-width:600px) {
    html {
        font-size: 9px;
    }

    .large{
        font-size: 2.75rem;
    }

    .image{
        width: 100%;
    }

    #home-header{
        text-align: center;
    }

    #hone{
        grid-area: 1 / 5 / span 5 / span 4;
    }
    
}

@media screen and (max-width:760px) {
    html {
        font-size: 12px;
    }
    
}